.toolbar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.addButton {
    bottom: 32px;
    margin-left: 530px;
    position: fixed;
}

@media (max-width: 640px) {
    .addButton {
        margin-left: 0;
        right: 8px;
    }
}
