.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-height));
}

.image {
    width: 300px;
}

.text {
    font-size: 60px;
    font-weight: 500;
    color: var(--text-accent);
}
